// ********************
// HEADER
// ********************

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 4.5rem;
  display: grid;
  place-items: center;
  background: $white;
  box-shadow: 0 4px 6px -1px rgba($black, 0.1), 0 2px 4px -2px rgba($black, 0.1);
}

nav {
  width: 100%;
  height: 100%;
}

.nav__container {
  @extend .container;
  height: 100%;
}

.nav__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  width: 12rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("static/img/lda-logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @media screen and (min-width: map-get($breakpoints, "xl")) {
    width: 24rem;
    background-image: url("static/img/lda-logo-full.svg");
  }
}

.nav__logo {
  width: 100%;
  height: 3rem;
}

.nav__menu {
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    display: flex;
  }
}

.nav__link-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.nav__link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: map-get($slate, "500");
  border-radius: 0.25rem;
  background-color: transparent;
  margin: 0 0.625rem;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: map-get($slate, "100");
  }
}

.nav__btn {
  @extend .btn;
  @extend .btn--small;
  margin-left: 1.25rem;
}

.phone-icon,
.email-icon,
.download-icon,
.link-icon,
phone-icon--blue {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.mail-icon {
  background-image: url("static/img/mail.svg");
}

.phone-icon {
  background-image: url("static/img/phone.svg");
}

.download-icon {
  background-image: url("static/img/download.svg");
}

.link-icon {
  background-image: url("static/img/external-link.svg");
}

.phone-icon--blue {
  background-image: url("static/img/phone-blue.svg");
}

.nav__hamburger {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid map-get($slate, "100");
  border-radius: 0.25rem;
  background-image: url("static/img/menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  cursor: pointer;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    display: none;
  }
}

.nav__menu--mobile {
  position: absolute;
  top: calc(100% + 1.25rem);
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 90%;
  padding: 1rem;
  border-radius: 0.75rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: $white;
  border: 2px solid map-get($slate, "100");
  box-shadow: 0 4px 6px -1px rgba($black, 0.1), 0 2px 4px -2px rgba($black, 0.1);
}

.nav__link--mobile {
  @extend .nav__link;
  margin: unset;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

[x-cloak] {
  display: none !important;
}
