{% extends "base.twig" %}

{% block content %}
{# BEGIN HERO SECTION #}
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">{{ post.meta('hero_heading') }}</h1>
                <p class="hero__subheading">{{ post.meta('hero_subheading') }}</p>
                <a href="https://ldacoach.coachesconsole.com/calendar/discovery-clarity-call-with-fran" target="_blank" class="btn btn--secondary"><span class="phone-icon--blue"></span>Book a call</a>
            </div>
            <div class="hero__right"></div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN FORM SECTION #}
<section id="contact-form" class="section py-18">
    <div class="container">
        <div class="contact__grid">
            <div class="contact__left">
                <div class="contact__address">
                    <h4 class="contact__left__heading">Address:</h4>
                    <p>2609 N. Forest Ridge Blvd.</p>
                    <p>Suite 201</p>
                    <p>Citrus Hills, FL 34442</p>
                </div>
                <div class="contact__phone">
                    <h4 class="contact__left__heading">Phone Number:</h4>
                    <a href="tel:3524501000" class="contact__info">(352) 450-1000</a>
                </div>
                <div class="contact__email">
                    <h4 class="contact__left__heading">Email Address:</h4>
                    <a href="mailto:fab@ldacoach.com" class="contact__info">fab@ldacoach.com</a>
                </div>
            </div>
            <div class="contact__right">
                <h2 class="contact__right__heading mb-4">Still have questions?</h2>
                <p class="contact__right__subheading mb-8">Click on the button below to send an email to Fran.</p>
                <a href="https://ldacoach.coachesconsole.com/forms?id=629a0820fbb581b14ce3f97e" target="_blank" class="btn btn--primary"><span class="mail-icon"></span>Send email to Fran</a>
            </div>
        </div>
    </div>
</section>
{# END FORM SECTION #}

{% include 'partial/cta.twig' %}
{% endblock %}