{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #}
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">Browse the courses</h1>
                <p class="hero__subheading">Reinvent & Transform Your Leadership! Effective Distinctive Leadership!</p>
            </div>
            <div class="hero__right"></div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
{% for post in courses %}
<section id="course" class="section py-18">
    <div class="container">
        <div class="courses__wrapper">
            <div class="courses__left">
                <h2 class="courses__heading">{{ post.title }}</h2>
                <p class="courses__excerpt">{{ post.content|excerpt(10) }}</p>
                <a href="{{ post.meta('course_link') }}" target="_blank" class="btn btn--primary"><span class="link-icon"></span>Register</a>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{# END CONTENT SECTION #}

{% include 'partial/cta.twig' %}

{% endblock %}