{% extends "base.twig" %}

{% block content %}
	
{# BEGIN HERO SECTION #}
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <p class="eyebrow">The power of designing your leadership</p>
                    <h1 class="hero__heading">Build an extraordinary leadership legacy from your foundation first!</h1>
                    <p class="hero__subheading">If you're not leading by design you're leading by default! f. Alexandra Brennan shares powerful leadership knowledge & courses on how to design & plan your most effective distinctive leadership by creating a concise accelerated master plan that is in alignment with the right foundation principles for your success. Become the effective leader your employees want & need.</p>
                    <form method="post" action="https://leadershipdesignalchemists.coachesconsole.com/optin" id="optin_6251c779fbb5814e607820a1" class="hero__form">
                        <label>First Name:</label><br>
                        <input class="text hero__form__input" name="FirstName" type="text" placeholder="First name" required>
                        <label>Email</label><br>
                        <input class="text hero__form__input" name="Email" type="text" placeholder="Email" required>
                        <input type="hidden" name="OptinID" id="optin_id_value" value="6251c779fbb5814e607820a1">                                                                                                                                                   
                        <input type="hidden" name="captcha_check" id="token"/>  
                        <button class="g-recaptcha submit" data-sitekey="6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD" data-callback='onSubmit'><span class="download-icon"></span>Download your ebook</button>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD"  async defer></script>
                        <script src="https://coachesconsole.com/v3/static/optin.js?site_key=6LeiJO4ZAAAAAJ3etSaYUBMlfZ16Xw4N5z_F3rbD"></script>
                    </form>
                    <p class="form__disclaimer">By entering your email address above, you are requesting updates about upcoming course and advice about leadership. You can opt out at any time, and we’ll never rent or sell your email address.</p>
            </div>
            <div class="hero__right">
                <img src="{{ theme.path ~ '/static/img/fran-ebook-mockup.webp' }}" alt="" class="hero__mockup">
            </div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN TRANSFORM SECTION #}
<section id="transform" class="section py-18">
    <div class="container">
        <article class="prose">
            <h2>Earn employee trust, engagement, loyalty for a collaborative advantage and gain long-term growth, profits & a sustainable organization</h2>
            <p>Control your own leadership destiny or someone else will!</p>
            <p>Right now, do you...</p>
            <ul>
                <li>Spend too much time fighting fires and managing chaos?</li>
                <li>Get frustrated and struggle to get the benefits and results you want and need to succeed</li>
                <li>Find it increasingly difficult to get everyone in your growing teams on the same page, moving in the same direction, and focused on the same strategy?</li>
                <li>Continually sacrifice your health, your free time, and your own needs in favor of your work?</li>
                <li>Feel like there's no real relationship, no trust, no team, no benefits, no growth, no advantages and no sustainability in your company?</li>
                <li>Feel like it all comes down to YOU?</li>
            </ul>
            <p>If so, I want you to know...it's going to be ok. I've helped many companies move from troubles just like these to working in harmony as a collaborative team.</p>
            <p>But you're right on one count...as a leader in your company, it DOES all come down to YOU.</p>
            <p>You're the example the rest of the team looks to and takes their cues from, the beacon of light in the chaos of their work day.</p>
            <p>So if YOU'RE not in alignment...they're not in alignment, either.</p>
            <img src="{{ theme.path ~ '/static/img/fran-workplace.webp' }}" />
            <p>Do you want to...</p>
            <ul>
                <li>Spend more time with family and friends actually LIVING life, instead of watching it go by on your social media feed?</li>
                <li>Communicate and collaborate with your employees, departments, and managerial teams toward a common goal?</li>
                <li>Run a company full of high-performing employees who are actually EXCITED to come to work every day?</li>
                <li>Trust your team to find and execute the right solution—even in the face of a pandemic, economic instability, and other adversity—without you jumping into save them?</li>
                <li>Eventually leave your company or retire knowing the organization will continue to run well even without you at the helm?</li>
                <li>Rest assured that you're leaving a positive impact and legacy on the world</li>
            </ul>
            <p>If you answered yes to even one of these questions, you're in the right place.</p>
        </article>
    </div>
</section>
{# END TRANSFORM SECTION #}

{# BEGIN TESTIMONIAL SECTION #}
<section id="testimonial" class="section py-10">
    <div class="container">
        <div class="testimonial__wrapper">
            <p>"As a leader focused on the leader and employee experiences and innovating my leadership model, Fran's perspectives into the critical integration and alignment of you Leadership Principles are insightful and spot on!"<strong>— F. Kettleman</strong></p>
        </div>
    </div>
</section>
{# END TESTIMONIAL SECTION #}

{# BEGIN LDA SECTION #}
<section id="lda" class="section py-18">
    <div class="container">
        <div class="lda__wrapper">
            <div class="lda__left"></div>
            <div class="lda__right">
                <h2 class="lda__heading">Better together with leadership foundation first!</h2>
                <p class="lda__subheading">LDA helps leaders & entrepreneurs innovate, reinvent & transform their leadership through the power of integrated foundation principles. Harness the innovation & creativity of your team by using the 4-core foundation principles: authenticity/trust, emotional intelligence, servant leadership, and chaos management.</p>
                <a href="/about" class="btn btn--primary">Learn more about Fran</a>
            </div>
        </div>
    </div>
</section>
{# END LDA SECTION #}

{# BEGIN FRAN SECTION #}
<section id="fran" class="section pb-18">
    <div class="container">
        <div class="fran__wrapper">
            <div class="fran__left">
                <h2 class="fran__heading">Meet the Lead Design Alchemist:<br/>f. Alexandra Brennan<br/><span>(you can call her Fran)</span></h2>
                <p class="fran__subheading">From a young age, Fran has been fascinated with leadership. Now, with more than 30 years of experience with teams ranging in size from plucky startups to Fortune 100 companies, Fran is ready to use her knowledge to help you become the kind of leader you've always wanted to be. She's ready to build you up from the Foundation First.</p>
                <a href="/about" class="btn btn--primary">Learn more about Fran</a>
            </div>
            <div class="fran__right"></div>
        </div>
    </div>
</section>
{# END FRAN SECTION #}

{% include 'partial/cta.twig' %}

{% endblock %}