{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #}
<section id="hero" class="section py-18">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">Thank You!</h1>
                <p class="hero__subheading">Now please check your inbox ... there is something very special on its way to you for your leadership success!</p>
            </div>
            <div class="hero__right"></div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="content" class="section py-18">
    <div class="container">
        <article class="prose has-lead">
            {{ post.content }}
        </article>
        <div class="btn-wrapper">
            <a href="/" class="btn btn--primary">← Back to Home page</a>
        </div>
    </div>
</section>
{# END CONTENT SECTION #}

{% endblock %}