.contact__right {
  grid-column: span 6 / span 6;
  margin: 0 auto;
  width: 100%;
  max-width: 48.125rem;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    grid-column: span 4 / span 4;
  }
}

.contact__grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 1.875rem;
}

.contact__left {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.25rem;
  padding-left: 3.75rem;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    grid-column: span 2 / span 2;
  }
}

.contact__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.25rem;
  border: 1px solid rgba($chambray, 0.25);
  border-radius: 0.25rem;
  text-align: center;
}

.contact__address,
.contact__phone {
  margin-bottom: 2.5rem;
}

.contact__info {
  font-size: 1rem;
  line-height: 1.33rem;
  color: $chambray;
  text-decoration: underline;
}
