{# BEGIN CTA SECTION #}
<section id="cta" class="section py-18">
    <div class="container">
        <div class="cta__wrapper">
            <h2 class="cta__heading">What's next?</h2>
            <p class="cta__subheading">Interested in learning more about how Fran can help YOU become a more effective leader? Book a FREE 30-minute Clarity Call, to get laser-focused on the RIGHT step to take, RIGHT NOW.</p>
            <a href="https://ldacoach.coachesconsole.com/calendar/discovery-clarity-call-with-fran" target="_blank" class="btn btn--secondary"><span class="phone-icon--blue"></span>Let's do it</a>
        </div>
    </div>
</section>
{# END CTA SECTION #}