<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__brand">
                <img src="{{ theme.path ~ '/static/img/lda-logo.svg' }}" alt="" class="footer__logo">
            </div>
            <div class="footer__menu">
                <a href="/" class="footer__link">Home</a>
                <a href="/about" class="footer__link">About</a>
                <a href="/blog" class="footer__link">Blog</a>
                <a href="/courses" class="footer__link">Courses</a>
                <a href="/contact" class="footer__link">Contact</a>
            </div>
        </div>
    </div>
</footer>