<header class="header" class="header">
    {% block header %}
    <nav id="nav" class="nav" role="navigation" x-data="{ open: false }">
        <div class="nav__container">
            <div class="nav__wrapper">
                <a href="/" class="nav__brand">
                    
                </a>
                <div class="nav__menu">
                    {% for item in menu.get_items %}
                        <div class="nav__link-wrapper">
                            <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
                        </div>
                    {% endfor %}
                    <a href="https://ldacoach.coachesconsole.com/calendar/discovery-clarity-call-with-fran" target="_blank" class="nav__btn"><span class="phone-icon"></span>Book a call</a>
                </div>
                <div class="nav__hamburger" @click="open = !open"></div>
                <div class="nav__menu--mobile" x-show="open" @click.outside="open = false" x-cloak>
                    {% for item in menu.get_items %} 
                        <div class="nav__link--mobile-wrapper">
                            <a href="{{ item.link }}" class="nav__link--mobile" @click="open = false">{{ item.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav><!-- #nav -->
    {% endblock %}
</header>