<header class="header" class="header">
    {% block header %}
    <nav id="nav" class="nav" role="navigation">
        <div class="nav__container">
            <div class="nav__wrapper">
                <a href="/" class="nav__brand">
                    <img src="{{ theme.path ~ '/static/img/lda-logo2.svg' }}" alt="" class="nav__logo">
                </a>
                <div class="nav__menu">
                    {% for item in menu.get_items %}
                        <div class="nav__link-wrapper">
                            <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
                        </div>
                    {% endfor %}
                    <a href="https://leadershipdesignalchemists.coachesconsole.com/calendar/discovery-clarity-call-with-fran" target="_blank" class="nav__btn"><span class="phone-icon"></span>Book a call</a>
                </div>
            </div>
        </div>
    </nav><!-- #nav -->
    {% endblock %}
</header>