#footer {
  padding: 1.25rem 0;
  background-color: #090e1c;
}

.footer__brand {
  @extend .nav__brand;
}

.footer__logo {
  @extend .nav__logo;
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(200%) saturate(0%) contrast(200%);
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  @extend .nav__link;
  color: $white;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
  margin: 0 0.625rem;

  &:hover {
    opacity: 1;
  }
}
